        body {
            padding: 0px;
            margin: 0px;
            background-color: rgb(189, 218, 238);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 26px;
        }

        header {
            grid-area: header;
            background-color: rgb(121, 181, 221);
            padding: 10px;
        }

        nav {
            grid-area: nav;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 150px;
            background-color: #f1f1f1;
        }

        nav li a {
            display: block;
            color: #000;
            padding: 16px 26px;
            text-decoration: none;
            border: black solid 1px;
        }

        nav li a.active {
            background-color: rgb(25, 38, 82);
            color: white;
        }

        nav li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

        main {
            grid-area: main;
            padding: 20px;
            background-color: white;
        }

        .aside1 {
            grid-area: aside1;
            padding: 10px;
        }

        .aside1 img {
            width: 300px;
            min-width: 100%;
            border-bottom: 6px solid black;
        }

        .aside2 {
            grid-area: aside2;
            background-color: rgb(68, 68, 68);
            color: white;
            padding: 10px;
        }


        footer {
            grid-area: footer;
            background-color: rgb(25, 38, 82);
            color: white;
            padding: 10px;
        }

        .main-grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside1'
                'nav nav main main main aside1'
                'aside2 aside2 aside2 footer footer footer';
            grid-gap: .5em;

            max-width: 62em;
            /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
            margin: auto;
        }

        header div {
            float: left;
        }

        .link {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(25, 38, 82);
            color: white;
            border-radius: 10px;
            text-decoration: none;
        }

        .logo {
            height: 100px;
            border-radius: 100%;
        }

        header h1 {
            text-align: center;
            font-size: 50px;
            margin: 0px;
            padding: 30px;
        }


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {

            .main-grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
                    'nav nav nav nav nav nav'
                    'main main main main aside1 aside1'
                    'aside2 aside2 aside2 aside2 aside2 aside2'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            nav ul {
                overflow: hidden;
                width: 100%;
            }

            nav li {
                float: left;
                text-align: center;
            }

            nav li a {
                padding: 14px 36px;
            }

            .logo {
                float: none;
                height: 100px;
            }

            header div {
                text-align: center;
                width: 100%;
                float: none;
            }

            header h1 {
                font-size: 30px;
                padding: 5px;
            }

            .aside2 {
                text-align: center;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            .main-grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
                    'nav nav nav nav nav nav'
                    'main main main main main main'
                    'aside1 aside1 aside1 aside1 aside1 aside1'
                    'aside2 aside2 aside2 aside2 aside2 aside2'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            nav ul {
                overflow: hidden;
                width: 100%;
            }

            nav li {
                float: left;
                text-align: center;
            }

            nav li a {
                padding: 14px 12px;
            }

        }
